
.al_histoire {
    max-height: 250px;
    /* padding: 1rem; */
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: rgb(59, 25, 11) #e4e4e4;
    scrollbar-width: thin;
    overflow-y: auto;
    max-width: 340px;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-gutter: var(--gutter, auto);
    margin: 1rem auto 0;
    position: absolute; top: 300px; left: 450px;
}
.al_histoire::-webkit-scrollbar {
    width: 20px;
}
.al_histoire::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 100px;
}
.al_histoire::-webkit-scrollbar-thumb {
    background-color: #bb8436;
    border-radius: 100px;
    border: 5px solid #4e3614;
    background-clip: content-box;
}
.al_texte {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #bb8436;
    text-shadow: 0.1em 0.1em #333
}
#nom_race{
    color: #bb8436; 
    font-family: LifeCraft,Arial, Helvetica, sans-serif;
    position: absolute; top: 150px; left: 450px;
    font-size: 50px;
    text-shadow: 0.1em 0.1em #333
}
#nom_race2{
  color: #bb8436; 
    font-family: LifeCraft,Arial, Helvetica, sans-serif;
    position: absolute; top: 150px; left: 450px;
    font-size: 50px;
    text-shadow: 0.1em 0.1em #333
}
#nom_race3{
  color: #bb8436; 
    font-family: LifeCraft,Arial, Helvetica, sans-serif;
    position: absolute; top: 150px; left: 450px;
    font-size: 50px;
    text-shadow: 0.1em 0.1em #333
}
#nom_race4{
  color: #bb8436; 
    font-family: LifeCraft,Arial, Helvetica, sans-serif;
    position: absolute; top: 150px; left: 450px;
    font-size: 50px;
    text-shadow: 0.1em 0.1em #333
}
#nom_race5{
  color: #bb8436; 
    font-family: LifeCraft,Arial, Helvetica, sans-serif;
    position: absolute; top: 150px; left: 450px;
    font-size: 50px;
    text-shadow: 0.1em 0.1em #333
}
#nom_race6{
  color: #bb8436; 
    font-family: LifeCraft,Arial, Helvetica, sans-serif;
    position: absolute; top: 150px; left: 450px;
    font-size: 50px;
    text-shadow: 0.1em 0.1em #333
}
#nom_race7{
  color: #bb8436; 
    font-family: LifeCraft,Arial, Helvetica, sans-serif;
    position: absolute; top: 150px; left: 450px;
    font-size: 50px;
    text-shadow: 0.1em 0.1em #333
}
#nom_race8{
  color: #bb8436; 
  font-family: LifeCraft,Arial, Helvetica, sans-serif;
  position: absolute; top: 150px; left: 450px;
  font-size: 50px;
  text-shadow: 0.1em 0.1em #333
}
#nom_race9{
  color: #bb8436; 
  font-family: LifeCraft,Arial, Helvetica, sans-serif;
  position: absolute; top: 150px; left: 450px;
  font-size: 50px;
  text-shadow: 0.1em 0.1em #333
}
#nom_race10{
  color: #bb8436; 
  font-family: LifeCraft,Arial, Helvetica, sans-serif;
  position: absolute; top: 150px; left: 450px;
  font-size: 50px;
  text-shadow: 0.1em 0.1em #333
}
#nom_race11{
  color: #bb8436; 
  font-family: LifeCraft,Arial, Helvetica, sans-serif;
  position: absolute; top: 150px; left: 450px;
  font-size: 50px;
  text-shadow: 0.1em 0.1em #333
}
#nom_race12{
  color: #bb8436; 
  font-family: LifeCraft,Arial, Helvetica, sans-serif;
  position: absolute; top: 150px; left: 450px;
  font-size: 50px;
  text-shadow: 0.1em 0.1em #333
}


* {
    box-sizing: border-box;

}
#al_bodyorc{
    background-image: url(images/draenor.jpg);
}
#al_body_mv{
  background-image: url(images/sylvanas_city.jpg);
  width: auto;
}
#al_bodytauren{
  background-image: url(images/mulgor.png);
}
#al_bodytroll{
  background-image: url(images/durotar.jpg);
}
#al_body_es{
  background-image: url(images/bois_eternel.jpg);
}
#al_body_gobelin{
  background-image: url(images/gobelin_zone.jpg);
}
#al_body_humain{
  background-image: url(images/hurlevent.jpg);
}
#al_body_nain{
  background-image: url(images/forgefer.jpg);
}
#al_body_en{
  background-image: url(images/teldrassil.jpg);
}
#al_body_gnome{
  background-image: url(images/dunmorogh.jpg);
}
#al_body_draenei{
  background-image: url(images/exodar.jpg);
}
#al_body_worgen{
  background-image: url(images/Gilneas.jpg);
}

#imgfansite2{
    position: absolute; top: 150px; left: 900px;
}
#imgfansite3{
  position: absolute; top: 120px; left: 600px;
}
#imgfansite4{
  position: absolute; top: 160px;left: 800px;
}
#imgfansite5{
  position: absolute; top: 150px;left: 750px;
}
#imgfansite6{
  position: absolute; top: 100px;left: 850px;
}
#imgfansite7{
  position: absolute; top: 200px;left: 800px;
}
#imgfansite8{
  position: absolute; top: 200px;left: 800px;
}
#imgfansite9{
  position: absolute; top: 200px;left: 800px;
}
#imgfansite10{
  position: absolute; top: 200px;left: 800px;
}
#imgfansite11{
  position: absolute; top: 200px;left: 800px;
}
#imgfansite12{
  position: absolute; top: 150px;left: 800px;
}
#imgfansite13{
  position: absolute; top: 200px;left: 800px;
}
#al_main{
  height: 1000px;
}



.logo1{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    width: 96px;
	height: 96px;
    padding-left: 42em;
    margin-bottom: 2em; */
    position: absolute; top: 830px; left: 610px;
}
.logo2{
  position: absolute; top: 300px;left: 100px;
}



#lr_body{
  background-color: rgb(20, 1, 1);

}

@font-face {
  font-family: LifeCraft;
  src: url(fonts/LifeCraft_Font.ttf);
}

a{
  text-decoration: none;
  color: rgb(255, 217, 0);
}
                                                    /* HEADER */
header{
  /* background-color: rgb(59, 25, 11); */
  background-image: url(images/rectangle_header.png);
}
#lr_logo_header{
display: flex;
justify-content: center;
}
#lr_logo_size{
width: 60%;
/* position: absolute; */
margin: -50px;
}
#lr_header_police{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  display: flex;
  justify-content: space-evenly;
  /* padding-bottom: 15px;
  padding-top: 20px; */
  
}
#lr_menu_gauche{
  display: flex;
  justify-content: left;
  padding-top: 30px;
}
#lr_menu_droite{
  display: flex;
  justify-content: right;
  padding-top: 30px;
}

  /* https://www.alsacreations.com/tuto/lire/574-Creer-des-menus-simples-en-CSS.html#menuhorizontal */
                                            /* FIN HEADER  */

                                              /* MAIN */

#lr_main{
  background-color: rgb(43, 0, 0);
}

/* video  */
video::-webkit-media-controls {
  display: none;
}
#lr_video_background{
  width: 100%;
}

/* HORDE VS ALLIANCE */
#lr_image_camp{
  width: 100%;
}


.lr_contenant {
  /* position: relative; */
  text-align: center;
  color: red; 
}

.lr_texte_centrer {
  font-family : LifeCraft;
  color:rgb(223, 164, 1);
  font-size:  90px;
  position: absolute;
  bottom: -4em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lr_texte_centrer2 {
  font-family : LifeCraft;
  color:rgb(223, 164, 1); 
  font-size:  90px;
  position: absolute;
  bottom: -16em;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FIN HORDE VS ALLIANCE */

#lr_cinematiques{
  background-image: url(images/shadowland_fond_flou1.png);
  padding-top: 15em;
  width: 100%;
  height: 54em;
  /* display: flex;
  justify-content: center; */
}

#shadowland{
  display: flex;
  justify-content: center;
  height: -75em;
  
}

                                        /* FIN MAIN  */

/* FOOTER  */
#lr_footer_principal{
  background-color: #250801;
  margin-top: -7em;
}

#txt_gauche {
  margin-left: 10em;
  float:left;
  width:30%;
  color: rgb(223, 164, 1);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 3em;
}
#txt_droite {
  overflow:auto;
  color: rgb(223, 164, 1);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 3em;
}

#lr_img_footer{
  float: right;
  padding-top: 30px;
  margin-right: 10em;
}

.lr_footer_titre{
  font-family: LifeCraft;
}
html { scroll-behavior: smooth; }
/* FIN FOOTER  */

