.al_histoire {
    max-height: 250px;
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    overflow-y: auto;
    position: relative;
    max-width: 300px;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-gutter: var(--gutter, auto);
    margin: 1rem auto 0;
}
.al_histoire::-webkit-scrollbar {
    width: 10px;
}
.al_histoire::-webkit-scrollbar-track {
    background-color: darkgrey;
}
.al_histoire::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}
.al_texte {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
