
.al_histoire {
    max-height: 250px;
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    overflow-y: auto;
    position: relative;
    max-width: 300px;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-gutter: var(--gutter, auto);
    margin: 1rem auto 0;
}
.al_histoire::-webkit-scrollbar {
    width: 10px;
}
.al_histoire::-webkit-scrollbar-track {
    background-color: darkgrey;
}
.al_histoire::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}
.al_texte {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


#lr_body{
  background-color: rgb(20, 1, 1);

}

@font-face {
  font-family: LifeCraft;
  src: url(fonts/LifeCraft_Font.ttf);
}

a{
  text-decoration: none;
  color: rgb(255, 217, 0);
}
                                                    /* HEADER */
header{
  /* background-color: rgb(59, 25, 11); */
  background-image: url(images/rectangle_header.png);
}
#lr_logo_header{
display: flex;
justify-content: center;
}
#lr_logo_size{
width: 60%;
/* position: absolute; */
margin: -50px;
}
#lr_header_police{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  display: flex;
  justify-content: space-evenly;
  /* padding-bottom: 15px;
  padding-top: 20px; */
  
}
#lr_menu_gauche{
  display: flex;
  justify-content: left;
  padding-top: 30px;
}
#lr_menu_droite{
  display: flex;
  justify-content: right;
  padding-top: 30px;
}

  /* https://www.alsacreations.com/tuto/lire/574-Creer-des-menus-simples-en-CSS.html#menuhorizontal */
                                            /* FIN HEADER  */

                                              /* MAIN */

#lr_main{
  background-color: rgb(43, 0, 0);
}

/* video  */
video::-webkit-media-controls {
  display: none;
}
#lr_video_background{
  width: 100%;
}

/* HORDE VS ALLIANCE */
#lr_image_camp{
  width: 100%;
}


.lr_contenant {
  /* position: relative; */
  text-align: center;
  color: red;
}

.lr_texte_centrer {
  font-family : LifeCraft;
  color:rgb(255, 217, 0);
  font-size:  90px;
  position: absolute;
  bottom: -4em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lr_texte_centrer2 {
  font-family : LifeCraft;
  color:rgb(255, 217, 0); 
  font-size:  90px;
  position: absolute;
  bottom: -15em;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FIN HORDE VS ALLIANCE */

#lr_cinematiques{
  background-image: url(images/shadowland_fond_flou1.png);
  padding-top: 7em;
  width: 100%;
  height: 23em;
  display: flex;
  justify-content: center;
}

#shadowland{
  height: -20em;
  
}

                                        /* FIN MAIN  */

/* FOOTER  */
footer{
  background-color: chartreuse;
}
/* FIN FOOTER  */

